<div class="container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" />
    <div class="text-danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
      Valid email is required
    </div>

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" />
    <div class="text-danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      Password is required
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>

    <p>
      New user?
      <a routerLink="/register">Register here</a>
    </p>

    <div class="text-danger" *ngIf="loginError">
      Login failed: Incorrect credentials
    </div>

    <div style="margin-top: 10px;" class="d-flex justify-content-between">
  <app-back-button></app-back-button>
<button routerLink="/" type="button" class="btn btn-secondary">Home</button>
</div>

